.App {
  text-align: center;
  font-family: sans-serif;
}

.firstRow {
  background: url('./backgroundImage.JPG') no-repeat center center fixed;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-flow: column wrap;
  text-align: right;
  align-items: center !important;
  padding: 20px;
}

#basic-nav-dropdown {
  position: relative;
  z-index: 100;
}

.name {
  font-size: calc(30px + 6vmin);
  color: white;
  opacity: 0.8;
  flex-grow: 0 !important;
  padding-top: 15%;
}

.bio {
  font-size: calc(15px + 2vmin);
  color: white;
  opacity: 0.7;
  flex-grow: 0 !important;
}

.secondContainer {
  display: flex;
  align-items: center;
}

.secondRow {
  background-color: white;
  min-height: 100vh;
  flex-flow: column wrap;
}

.aboutMe {
  max-width: 100% !important;
  font-size: calc(30px + 6vmin);
  min-height: 15vh;
  font-weight: bold;
}

.cartoon {
  max-width: 30%;
  align-self: center;
}

.experience {
  font-size: calc(20px + 3vmin);
  min-height: 10vh;
}

.skillset {
  font-size: calc(20px + 3vmin);
  min-height: 10vh;
}

.socialMedia {
  flex-direction: row!important;
  flex-wrap: nowrap!important;
  align-items: baseline;
  margin-top: -10%;
}

.socialLogoL {
  max-width: 40%;
  align-content: space-around;

}

.socialLogo {
  max-width: 30%;
  align-content: space-around;
}
