.App {
  text-align: center;
  font-family: sans-serif;
}

.firstRow {
  background: url('./backgroundImage.JPG') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-flow: column wrap;
  text-align: right;
  align-items: center !important;
  padding: 20px;
}

.name {
  font-size: calc(30px + 6vmin);
  color: white;
  opacity: 0.8;
  flex-grow: 0 !important;
}

.bio {
  font-size: calc(20px + 2vmin);
  color: white;
  opacity: 0.7;
  flex-grow: 0 !important;
}

.secondContainer {
  display: flex;
  align-items: center;
}

.secondRow {
  background-color: white;
  min-height: 100vh;
  flex-flow: column wrap;
}

.aboutMe {
  max-width: 100% !important;
  font-size: calc(30px + 6vmin);
  min-height: 25vh;
  font-weight: bold;
}

.experience {
  font-size: calc(20px + 3vmin);
  min-height: 10vh;
}

.skillset {
  font-size: calc(20px + 3vmin);
  min-height: 10vh;
}
